// Backgrounds
$background-primary: #e5e6e9;
$background-secondary: #c2c2c2;

// Text
$text-primary: #000000;
$text-button: #24292f;

// General Colors
$primary: #f6f8fa;

// Borders
$border-primary: #1b1f2426;
