.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

  p {
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  .error404 {
    height: auto;
  }
}
